@font-face {
	font-family: spaceMonoFont;
	src: url(../fonts/SpaceMono-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/* For disabling spin box for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number]
{
    -moz-appearance: textfield;
}

body {
	background-color: #C5E4E7
}



.titleSection {
	height: 100px;
	font-family: spaceMonoFont;
	font-weight: 700;
	font-size: 55px;
	text-align: center;
	padding-top: 25px;
    margin-bottom: 25px;
}

.maincontainer {    
	border: 1px solid white;
	border-radius: 25px;
	background-color: white;
	width: 50%;
	position: relative;
	margin: 0 auto;
	top: 25%;
    display: flex;
    flex-wrap: wrap;
}

.leftSection {
	border-radius: 25px;
}

.leftSectionInnerWrapper
{
    margin:5%;
}

.bill {
	height: 100px;
	width: 100%;
}

.tip {
	height: 150px;
	width: 100%;
}

.people {
	height: 100px;
	width: 100%;
}

.divTitle {
	float: left;
	width: 100%;
	margin: 5px;
	font-family: spaceMonoFont;
	font-weight: 700;
	font-size: 15px;
	color: hsl(183, 100%, 15%);
}

.billInputWrapper {
	width: 100%;
	height: 40px;
	margin: 5px;
	float: left;
	border-radius: 5px;
	background-color: hsl(189, 41%, 97%);
    display: flex;
}

.dollarSymbol {
	width: 5%;
	height: 40px;
	float: left;
	margin: 10px;
}

.inputBox {
	width: 90%;
	height: 40px;
	float: left;
	border: none;
	background-color: transparent;
	text-align: right;
	font-family: spaceMonoFont;
	font-weight: 700;
	font-size: 25px;
	color: hsl(183, 100%, 15%);
}

.TipSelectorWrapper {
	width: 330px;
	float: left;
	margin: 5px;
}

.TipBox {
	width: 30.3%;
	height: 30px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	float: left;
	text-align: center;
	padding-top: 5px;
    margin: 1%;
	border-radius: 5px;
	background-color: #00474B;
	color: white;
	font-family: spaceMonoFont;
	font-weight: 700;
	cursor: pointer;
}

.TipBox.active-Box {
	background-color: #28C1AD;
	color: hsl(183, 100%, 15%)
}

.CustomBox {
	background-color: hsl(189, 41%, 97%);
	color: hsl(183, 100%, 15%);
}

.TipBox:hover {
	background-color: #9FE8DF;
	color: hsl(183, 100%, 15%);
}

.rightSectionOuterWrapper
{
    background-color: #00474B;
	border-radius: 25px;
	padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin:5%;
}

.rightSectionDivWrapper {
	height: 100px;
}

.rightSectionDivWrapper .description {
	padding: 10px;
	width: 50%;
    height: 100px;
	padding-top: 25px;
    float: left;
}

.rightSectionDivWrapper .description span {
	font-family: spaceMonoFont;
	color: white;
	font-size: 15px;
	display: block;
}

.rightSectionDivWrapper .description .personText {
	color: #28C1AD;
	font-size: 13px;
}

.rightSectionDivWrapper .amount {
	text-align: right;
	font-family: spaceMonoFont;
	font-weight: 700;
	font-size: 35px;
	color: #28C1AD;
	width: 50%;
    height:100px;
	padding-top: 15px;
    float:left;
    padding-right:3%;
}

.resetBtnWrapper {
	height: 150px;
}

.resetBtn {
	height: 50px;
	width: 80%;
	background-color: #28C1AD;
	color: hsl(183, 100%, 15%);
	border-radius: 5px;
	font-family: spaceMonoFont;
	font-weight: 700;
	font-size: 25px;
	margin: auto;
	cursor: pointer;
	display: block;
	margin-top: 75px;
	border-color: transparent;
}

.resetBtn:disabled
{
    background-color: #0D686D;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}



.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

  }
  
  @media only screen and (min-width: 1000px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }